<div class="container" style="width: 70%; border: 1px solid #000; margin-top:50px; padding: 30px; background-color: rgb(245, 244, 244)">

    <h3 >Employee Information</h3>
    <table class="table table-light table-bordered" style="color: mediumblue;">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{employee.id}}</td>
            
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{employee.firstName}}</td>
            
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{employee.lastName}}</td>
            
        </tr>
        <tr>
            <th>Email</th>
            <td>{{employee.emailAddress}}</td>
            
        </tr>
        </tbody>
    </table>
</div>